mixin article(article)

    article.article-box(onClick=`location.href="/community/${article._id}"`)
        div.article-box__rating
            span.fas.fa-sort-up.article-box__rating-up
            span.article-box__rating-number #{Number(article.like.like)-Number(article.dislike.dislike)}
        div.article-box__item
            div.article-box__item-title
                span #{article.title} [#{article.comments.length}]
            div 
                span #{article.views}회 | #{String(article.createAt).substr(4,20)} | #{article.owner.userid}
        div.article-box__img
            if article.fileUrl
                img(src=`/${article.fileUrl}`, alt="" width="200px" height="100px")