mixin comment(comment)

    div.steam__main-comment__item-mixin
        span.steam__main-comment__item-userid=comment.owner.userid
        span.steam__main-comment__item-createAt=String(comment.createAt).substr(4,20)
        if String(comment.owner._id) === String(locals.loggedInUser._id)
            if pageTitle === "Game"
                form(action=`/api/games/${comment._id}/comment/delete` method="POST") 
                    input.steam__main-comment__item-delete(type="submit" value="X")
                    input(type="text" value=`${comment.game}` readonly name="game_id" style="display:none;")
                //- span.steam__main-comment__item-delete(onclick=`location.href="/api/steams/${comment._id}/comment/delete"`) ❌
            if pageTitle === "Community"
                form(action=`/api/community/${comment._id}/comment/delete` method="POST") 
                    input.steam__main-comment__item-delete(type="submit" value="X")
                    input(type="text" value=`${comment.community}` readonly name="article_id" style="display:none;")
                //- span.steam__main-comment__item-delete(onclick=`location.href="/api/steams/${comment._id}/comment/delete"`) ❌
    div
        span.steam__main-comment__item-text=comment.comment