mixin game(game)

    div.steam-item(OnClick=`location.href="/games/${game._id}"`)
        div.steam-item__thumbnail 
            if game.thumbnailUrl
                div
                    if isHeroku
                        img(src=`${game.thumbnailUrl}` width="250px" height="150px")
                    else 
                        img(src=`/${game.thumbnailUrl}` width="250px" height="150px")
            else 
                div 등록된 이미지가 없습니다.
        div.steam-item__content 
            span.steam-item__content-title=game.title 
            span.steam-item__content-owner=game.owner.userid 
            span.steam-item__content-metas  #{game.views}회 | #{game.createAt.toISOString().substr(0,10)}